body{
    background-image: url(imagens/wallpaper.jpg);
	background-size: 100%;
	background-attachment: fixed;
}
p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}
h1{
	color: rgb(17, 250, 211);;
	text-align: center;
	margin-bottom: 0px;
	font-size: 70px;
}
h2{
	color: rgb(17, 250, 211);;
	text-align: center;
	margin-bottom: 0px;
	font-size: 50px;
}
a{
	padding:15px;
	text-decoration: none;
    color: rgb(17, 250, 211);
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px #111111;
    font-size: 60px;
}
a:hover{
    background-color: black;
	color: rgb(17, 250, 211);
}
footer{
	border-radius: 20px;
	clear: both;
	background-color:rgb(17, 250, 211);
	height: 20px;
	text-align: center;
	padding: 10px;
}
/**
-------------------------------------------
*/
#logo{
	float: left;
}
#titulo{
	padding: 50px;
    float: right;
}
#principal{
	clear: both;
	background-size: 100%;
	min-height: 400px;
	padding: 10px 0 0 0;
}
/**
-------------------------------------------
*/
.container{
	width: 1000px;
	margin:0 auto;
}
.efeito{
	background-color: rgba(0, 0, 0, 0.5);
}
